<div class="container">
  <div class="row mb-3">
    <div class="col-md-12">
      <h2>Resetear la constraseña</h2>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-8">

      <label>Por favor ingrese su dirección de correo electrónico para solicitar un restablecimiento de contraseña.</label>

      <div class="form-group">
        <input type="email" class="form-control" #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Resetear contraseña" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>

      <div class="form-group">
        <a routerLink="/sign-in">Volver al inicio de sesión</a>
      </div>
    </div>
  </div>
</div>