<form #captchaProtectedForm="ngForm" (ngSubmit)="authService.SignUp(userEmail.value, pwd.value, displayName.value)" class="form-group">
  <div class="form-group">
    <label class="required">{{ appLiterals.user.name }}</label>
    <input type="text" class="form-control" [(ngModel)]="name" name="name" #displayName required>
  </div>

  <!-- <div class="form-group">
    <label>{{ appLiterals.user.username }}</label>
    <input type="text" [(ngModel)]="username" name="username" class="form-control">
  </div> -->

  <div class="form-group">
    <label class="required">{{ appLiterals.user.email }}</label>
    <input type="email" class="form-control" [(ngModel)]="email" name="email" #userEmail required>
  </div>

  <div ngModelGroup="passwordGroup" appConfirmEqualValidator #passwordGroup="ngModelGroup"
    [class.has-error]="passwordGroup.errors?.notEqual && !confirmPassword.errors?.required">
    <div class="form-group" [class.has-error]="pwd.touched && pwd.invalid">
      <label for="password" class="control-label required">{{ appLiterals.user.password }}</label>
      <show-hide-password btnStyle="info" [btnOutline]="false">
        <input name="password" required type="password" class="form-control"
          [(ngModel)]="passwordField" #pwd="ngModel">
      </show-hide-password>
      <span class="help-block error text-danger" *ngIf="pwd.touched && pwd.errors?.required">
        {{ appLiterals.register.passwordRequired }}
      </span>
    </div>

    <div class="form-group" 
      [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
      <label for="confirmPassword" class="control-label required">{{ appLiterals.user.confirmPassword }}</label>
      <show-hide-password btnStyle="info" [btnOutline]="false">
        <input name="confirmPassword" required type="password" class="form-control" #confirmPassword="ngModel"
          [(ngModel)]="confirmPasswordField" >
      </show-hide-password>
      <span class="help-block error text-danger"
        *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
        {{ appLiterals.register.confirmPasswordRequired }}
      </span>
      <span class="help-block error text-danger"
        *ngIf="confirmPassword.touched && passwordGroup.errors?.notEqual && !confirmPassword.errors?.required">
        {{ appLiterals.register.passwordsMismatch }}
      </span>
    </div>
  </div>

  <!-- <div class="form-group">
    <re-captcha class="center-recaptcha" 
      [(ngModel)]="formModel.captcha" 
      name="captcha" 
      required 
      siteKey="6LduvpoUAAAAAEkPrFVkwVgeU8_Tzhj_Kpy4HAED" 
      #captchaControl="ngModel">
    </re-captcha>
  </div> -->

  <div class="form-group">
    <button type="submit" [disabled]="!captchaProtectedForm.form.valid" class="btn btn-primary">
      {{ this.appLiterals.btnRegister }}
    </button>
  </div>

  <!-- Continue with Google -->
  <div class="form-group">
    <button type="button" class="loginBtn loginBtn--google" (click)="authService.GoogleAuth()">
      Registrarse con Google
    </button>
  </div>  

</form>
    