<div class="container">
  <div class="row mb-3">
    <div class="col-md-12">
      <h2>Gracias por registrarse!</h2>
    </div>
  </div>
  <div class="row">

    <div class="col-md-12 mt-5">

      <div class="form-group" *ngIf="authService.userData as user">
        <p>Hemos enviado un correo electrónico de confirmación a <strong>{{user.email}}</strong>.</p>
        <p>Por favor revise su correo electrónico y haga clic en el enlace para verificar su dirección de correo electrónico.</p>
      </div>

      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="form-group mt-5">
        <button type="button" class="btn btn-primary" (click)="authService.SendVerificationMail()">
          Reenviar correo electrónico de verificación
        </button>
      </div>

    </div>

    <div class="col-md-12 mt-3">
      <span>Volver al?<a routerLink="/sign-in"> Inicio de sesión</a></span>
    </div>

  </div>
</div>
